@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;0,600;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');

:root {
    /* Color Variables */
    --clr-Text: #191010;
    --clr-Text-2: #3c3c3c;
    --clr-Background: #ffffff;
    --clr-Background-2: #fff4f4;
    --clr-Background-3: #9159591a;;
    --clr-Primary: #cc1919;
    --clr-Secondary: #ffc2c2; 
    --clr-Accent: #915959;
    --clr-Accent-2: #e8e5e5;
    --clr-Accent-3: #faf9f9;     

    /* Container's Width Variables */
    --ctn-width-bg: 80%;
    --ctn-width-md: 90%;
    --ctn-width-sm: 96%;

    /* Transition Variables */
    --transition: all 0.3s ease-in-out;
    --transition-btn: all 0.3s ease;

    /* Lettering Spacing */
    --letter-spacing-header: 0.125rem;
}

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    list-style: none;
}
html{

    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--clr-Text);
    overflow-x: hidden;
}

.nav {
    min-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 3.75rem;
    padding: 0 1.5rem;
    background-color: var(--clr-Background);
    z-index: 100;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}
.nav-center {
    width: 100%;
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
.nav-items {
    display: flex;
    gap: 2rem;
}
.nav-item a{
    color: var(--clr-Text);
    position: relative;
}
.nav-item ::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.25rem;
    height: 1.5px;
    background-color: var(--clr-Primary);
    transform: scaleX(0);
    transition: var(--transition);

}
.nav-item:hover ::before{
    transform: scaleX(100%);
}
.nav-btn .bx{
    font-size: 1.8rem;
}
.nav-btn .bx-cart-alt{
    color: var(--clr-Accent);
}
.toggle-btn,
.close-btn {
    display: none;
}

.logo {
    font-family: 'Kanit', sans-serif;
    font-size: 1.7rem;
    line-height: 2.2;
    background: linear-gradient(90deg, #cc1919 0%, #915959 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
/* =======================
    Hero Section
==========================
 */
.header {
    position: relative;
    top: 3.75rem;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 4rem;
    background: var(--clr-Background-2);
    z-index: -1;
    box-shadow: 0 5px 10px rgba(255, 255, 255, .5);
}
.hero {
    background: linear-gradient(90deg, #000 0% 32%, rgba(255, 255, 255, .1)), url(./image/hero-1.jpg) no-repeat center center/ cover;
    height: 100%;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.banner h1 {
    color: var(--clr-Accent-2);
    text-transform: capitalize;
    margin-bottom: 2rem;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-header);
    font-weight: 600;
}
.primary-btn{
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    color: var(--clr-Accent-2);
    background: linear-gradient(90deg, #cc1919 0%, #915959 100%);
    border-radius: 2rem;
    letter-spacing: 0.1rem;
    box-shadow: 0 2.5px 3px rgba(255, 255, 255, 0.3);
    transition: var(--transition-btn);
}
.primary-btn:hover{
    color: var(--clr-Primary);
    background: var(--clr-Accent-2);
    cursor: pointer;
}

/* =======================
    Swiper
   =======================
 */
.aside{
    padding: 2rem;
    margin-top: 4rem;
    position: relative;
    margin-bottom: 3rem;
}
.aside h2{
    margin: 1rem;
    font-size: 1.7rem;
    letter-spacing: var(--letter-spacing-header);
    text-transform: capitalize;
    background: linear-gradient(90deg, #cc1919 0%, #ffc2c2 67% 54%, #915959 100% 83%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.swiper-ctn{
    margin: 0 auto;
}
 .product-img{
    max-width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
 }
 .image-ctn{
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    position: relative;
 }
 .image-ctn:hover .product-img{
    opacity: 0.8;
 }
 .image-ctn:hover .product-btns{
    transform: translateX(0);
 }
 .product-btns{
    position: absolute;
    top: 70%;
    right: 0;
    background: transparent;
    padding: 1rem;
    transform: translateX(100%);
    transition: var(--transition);
 }
 .product-btn{  
    padding: 0.3rem;
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 1rem;
 }
 .product-btn:hover{
    cursor: pointer;
 }
 .add-to-cart{
    color: var(--clr-Accent-2);
    background: var(--clr-Primary);
 }
 .details{
    color: var(--clr-Text-2);
    background: var(--clr-Secondary);
 }
 .product{
    border: 1.5px solid var(--clr-Background-3);
    border-radius: 0.25rem;
    padding: 0 0 0.5rem;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
 }
 .product:hover{
    border-color: var(--clr-Primary);
 }
 .product-info-ctn {
    padding: 0 1rem;
 }
 .product h5{
    padding: 0.3rem 0;
    text-align: left;
    text-transform: capitalize;
    line-height: 1.3;
    letter-spacing: 1px;
    margin-bottom: .5rem;
    font-size: 1rem;
 }
 .rating-price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
 }
 .rating{
    font-size: .8rem;
    font-weight: 500;
    color: var(--clr-Text-2);
 }
 .rating .bxs-star{
    color: #ffb121;
    font-size: 1rem;
    margin-right: 0.25rem;
 }

 /* =======================
    COllection
    =======================
*/
.collection{
    position: relative;
    padding: 1.5rem 2rem 1.5rem;
    margin: 0 auto;
}
.collection h3{
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 2.1;
    color: var(--clr-Accent);
}
.collection-ctn{
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(autofit, minmax(12rem, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.sortby-ctn{
    position: absolute;
    top: 0;
    right: 3.4%;
}
.sortby{
    border: 1px solid var(--clr-Primary);
    font-weight: 550;
    color: var(--clr-Text-2);
    position: relative;
    background: var(--clr-Accent-3);
    cursor: default;
}
.sortby .bx-chevron-down,
.sortby .bx-chevron-up{
    font-size: 1.1rem;
    background: var(--clr-Background);
    border-radius: 50%;
}
.sortby .bx-chevron-up{
    display: none;
}
.categories{
    position: absolute;
    top: 32px;
    right: 3.4%;
    color: #3c3c3c;
    background: var(--clr-Background);
    z-index: 5;
    padding: 0.5rem 0.7rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    display: none;
    transition: var(--transition);
}
.show-categories{
    display: block;
}
.category{
    padding: 0.25rem;
    font-size: .85rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 1px;
    border-radius: 2px;
    background-color: var(--clr-Accent-3);
    transition: var(--transition);
}
.category:hover{
    transform: translateX(15%);
}
 /* =======================
    Contact
    =======================
*/
.contact{
    padding: 4rem 1rem;
    margin-top: 10rem;
    background: var(--clr-Background-2);
}
.contact-center{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;
    background: var(--clr-Background-3);
    padding: 2rem;
    border-radius: 1rem;
    height: 30rem;
}
.container-left{
    background: var(--clr-Secondary);
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    bottom: 11rem;
}
.contact-info{
    overflow: hidden;
    margin-bottom: 1.5rem;
}
.contact-info .avatar{
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.container-left h3{
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.8;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.container-left p{
    font-size: 0.95rem;
    line-height: 1.5;
    letter-spacing: 0.6px;
    margin-bottom: 2rem;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 0.85rem;
    font-weight: 500;
    width: 100%;
}
.contact-details .info-1{
    margin-right: 1rem;
    font-size: 0.95rem;
}
.place {
    text-transform: capitalize;
}
.socials{
    display: flex;
    gap: 1rem;
    margin-top: 5rem;
    justify-self: center;
    flex-wrap: wrap;
    
}
.socials i{
    font-size: 1.3rem;
}
.socials div{
    background: var(--clr-Accent-2);
    border-radius: 50%;
    padding: 0.4rem;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
    transform: var(--transition-btn);
}
.socials div:hover{
    cursor: pointer;
    background: var(--clr-Text);
    color: var(--clr-Accent-3);
}
.form{
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    /* background-color: blue; */
    border-radius: 1rem;
}
input, textarea{
    font-family: inherit;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 1px solid #acacac;
    color: #3c3c3c;
    font-size: 1.025rem;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
input[type='text']{
    width: 50%;
    
}
.send-btn{
    width: max-content;
    color: var(--clr-Primary);
    padding: 0.45rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
    border: 1.5px solid ;
    transition: var(--transition-btn);
}
.send-btn:hover{
    background-color: var(--clr-Primary);
    color: var(--clr-Accent-3);
}
::placeholder{
    text-transform: capitalize;
    letter-spacing: 0.6px;
    line-height: 1.5;
}
 /* =======================
    footer
    =======================
*/
footer{
    background-color: var(--clr-Text-2);
    color: var(--clr-Accent-3);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}
footer a{
    color: var(--clr-Accent-3);
}
.top-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem
}
.ctn-1{
    padding: 1rem;
}
.ctn-1 h4,
.join-us h4{
    text-transform: capitalize;
    white-space: nowrap;
    margin-bottom: 1rem;
}
.ctn1-list li{
    font-size: 0.75rem;
    line-height: 1.5;
    margin-bottom: 0.3rem;
    transition: var(--transition);
}
.ctn1-list li:hover{
    text-decoration: underline;
}

.bottom-container{
    margin-top: 4rem;
    display: flex;
    gap: 10rem;
    align-items: center;
}
.join-us{
    padding: 1rem;
}
.join-us .join{
    display: flex;
    gap: 2rem;
}
.join i{
    font-size: 1.4rem;
    cursor: pointer;
}
.copyright{
    margin-top: 2rem;
    border-top: 1px solid rgba(255,255,255, 0.1);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.copyright p{
    font-size: 0.65rem;
}
